.LazyList.panel {
    overflow-y: auto;
    background: #F8F8F8;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.LazyList.wrapper {
    position: absolute;
    width: 100%;
}
