.ToolbarButton.button {
    padding: .5em .8em .5em .5em;
    background: white;
    border: 0;
    color: rgb(16, 110, 190);
    line-height: 1.5;
}

.ToolbarButton.icon {
    width: 24px;
}

.ToolbarButton.button:hover {
    background: rgb(204, 227, 245);
}

.ToolbarButton.button:focus {
    outline: none;
}

.ToolbarButton.button:active {
    background: rgb(179,214,242);
    outline: none;
}

.Toolbar.toolbar {
    text-align: right;
    padding-right: 1em;
    background: white;
}