/* Use CSS3 border-box for all elements */
* {
    box-sizing: border-box;
}

/* Allows usage of vertical height percentage */
html, body, #root, .toplevel {
    height: 100%;
}

/* Replace normalize.css default fonts and line-heights */
html {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
}

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/a/a1/University_of_Cambridge_Computer_Laboratory.jpg);
    background-size: cover;
    background-position: center;
    cursor: default;
}

.Navigation.panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
}

.LazyList.panel {
    position: absolute;
    top: 0;
    left: 200px;
    height: 100%;
    width: 360px;
    border-left: 1px solid white;
}

#message {
    position: absolute;
    top: 0;
    left: 560px;
    right: 0;
    height: 100%;
    overflow: auto;
}
