/* Use CSS3 border-box for all elements */
* {
    box-sizing: border-box;
}

/* Allows usage of vertical height percentage */
html, body, #root, .toplevel {
    height: 100%;
}

/* Replace normalize.css default fonts and line-heights */
html, input, button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

html {
    line-height: 1.5;
}

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/a/a1/University_of_Cambridge_Computer_Laboratory.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.Main.navigation, .Settings.navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    cursor: default;
    
    background: rgba(0, 0, 0 ,0.6);
}

.Main.navigation-fold {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    cursor: default;
    
    background: rgba(0, 0, 0 ,0.6);
}

.Main.hidden {
    visibility: hidden;
}

.LazyList.panel, #list-placeholder {
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    cursor: default;
}

#message {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    background: white;
}

#list-placeholder {
    background: #F8F8F8;
    padding-top: calc(50vh - 1em);
    text-align: center;
    color: #777;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.msgSection {
    background: white;
    padding-bottom: 1em;
}

.msgSection:not(:first-child) {
    border-top: 1px solid #CCC;
}

/* Do not use media query here since button may toggle between display modes */
.display-widescreen .Main.navigation-fold {
    display: none;
}

.display-widescreen .LazyList.panel, .display-widescreen #list-placeholder {
    left: 200px;
    width: 360px;
}

.display-widescreen #message {
    left: 560px;
}

.display-desktop .Main.navigation {
    display: none;
}

.display-desktop .LazyList.panel, .display-desktop #list-placeholder {
    left: 50px;
    width: 360px;
}

.display-desktop #message {
    left: 410px;
}

.display-tablet .Main.navigation-fold {
    display: none;
}

.display-tablet .LazyList.panel, .display-tablet #list-placeholder {
    left: 200px;
    right: 0;
}

.display-tablet #message {
    left: 0;
}

.display-mobile .Main.navigation {
    display: none;
}

.display-mobile .LazyList.panel, .display-mobile #list-placeholder {
    left: 50px;
    right: 0;
}

.display-mobile #message {
    left: 0;
}

.Main.navigation.visible {
    display: block;
    z-index: 10;
    background: rgb(16, 110, 190);
}
